
  <section class="breadcrumb_area">
    <div class="breadcrumb_top">
        <div class="container">
            <div class="row">
                <div class="breadcrumb_title section-padding">
                    <h2>Chi Tiết</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb_bottom">
        <div class="container">
            <div class="row">
                <div class="breadcrumb_nav">
                    <div class="col-sm-5">
                        <h2>Chi Tiết</h2>
                    </div>
                    <div class="col-sm-7">
                        <ul>
                            <li><a [routerLink]="['/']">Trang Chủ</a></li>
                            <li>Chi Tiết</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="single_post_area section-padding">
  <div class="container">
      <div class="row">
     
          <div class="col-md-8">
              <div class="single_blog_post_box">
                  <div class="blog_post_photo">
                      <img src="assets/img/{{item.hinhAnh}}" alt="">
                  </div>
                  <div class="blog_post_txt">
                      <div class="blog_post_heading">
                          <h2><a href="">{{item.tieuDe}}</a></h2>
                          <p>Posted By : Admin</p><br>
                          <p>{{item.thoiGian| date:'dd-MM-yyyy' }}</p>
                      </div>
                      <div class="blog_post_content">
                        {{item.noiDung}}
                      </div>
                      <div class="blog_post_footer">
                          <ul>
                              <li></li>
                              <li></li>
                              <li></li>
                              <li class="blog_post_footer_right_item"></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
        
          <div class="col-md-4 col-sm-7">
              <aside>
                  <div class="right_sidebar">
                      <div class="all_right_widgets">
                          <div class="sing_right_widget">
                              <div class="sing_right_widg_content">
                                  <form action="#">
                                      <input type="text" placeholder="Search">
                                      <input type="submit" value="">
                                  </form>
                              </div>
                          </div>
                          <div class="sing_right_widget">
                              <h2>Latest News</h2>
                              <div class="sing_right_widg_content">
                                  <ul class="lat_news_right">
                                      <li>
                                          <img src="assets/img/right_lat_news_1.jpg" alt="">
                                          <div class="lat_news_right_con">
                                              <h3><a href="single-post.html">Mister we could use a man like Herbert</a></h3>
                                              <h4>April 19, 2015</h4>
                                          </div>
                                      </li>
                                      <li>
                                          <img src="assets/img/right_lat_news_2.jpg" alt="">
                                          <div class="lat_news_right_con">
                                              <h3><a href="single-post.html">e know Flipper lives in a world full of wonder</a></h3>
                                              <h4>April 12, 2015</h4>
                                          </div>
                                      </li>
                                      <li>
                                          <img src="assets/img/right_lat_news_3.jpg" alt="">
                                          <div class="lat_news_right_con">
                                              <h3><a href="single-post.html">very best to make the others comfortable</a></h3>
                                              <h4>April 12, 2015</h4>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>

                      </div>
                  </div>
              </aside>
          </div>
      </div>
  </div>
</section>

