

        <section class="breadcrumb_area">
            <div class="breadcrumb_top">
                <div class="container">
                    <div class="row">
                        <div class="breadcrumb_title section-padding">
                            <h2>THỜI KHÓA BIỂU</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb_bottom">
                <div class="container">
                    <div class="row">
                        <div class="breadcrumb_nav">
                            <div class="col-sm-5">
                                <h2>THỜI KHÓA BIỂU</h2>
                            </div>
                            <div class="col-sm-7">
                                <ul>
                                    <li><a [routerLink]="['/']">Trang Chủ</a></li>
                                    <li>THỜI KHÓA BIỂU</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <br>
            <p>Trường : THPT Khoái Châu <br>
                Học kỳ 1, năm học 2020-2021<br>
                TKB có tác dụng từ: 12/10/2020</p>  
            <p>- Buổi sáng: Tiết 1 từ 7h15' <br>
                - Buổi chiều: Tiết 1 từ 13h00' </p> 
                <h2 style="text-align: center;">THỜI KHÓA BIỂU</h2>                   
                    <table class="table table-bordered text-center">
                      <thead >
                        <tr style="text-align: center !important;">
                          <th>TIẾT</th>
                          <th>Thứ 2</th>
                          <th>Thứ 3</th>
                          <th>Thứ 4</th>
                          <th>Thứ 5</th>
                          <th>Thứ 6</th>
                          <th>Thứ 7</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let t of tiets">
                          <td>{{t}}</td>
                          <ng-container *ngFor="let mon of list_tkb">
                            <ng-container *ngIf="mon.tietDay== t">
                                <td>{{mon.tenMon}}</td>
                            </ng-container>
                          </ng-container>
                        </tr>
                      </tbody>
                    </table>
            <br>
            <br>
            <br>
            <br>
          </div>
          
