<header class="header_area">
    <div class="container">
        <div class="header_content">
            <div class="row">
                <div class="col-md-2 col-sm-1">
                    <div class="logo">
                       <a href="index-2.html"><img src="assets/img/icon_cap.png" alt="" ></a>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-sm-11 nav_area">
                    <nav class="main_menu">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="current_page_item"><a [routerLink]="['/']">Trang Chủ</a></li>
                                <li><a [routerLink]="['/gioi-thieu']">Giới Thiệu</a></li>
                                <li><a [routerLink]="['/tin-tuc']">Tin Tức</a></li>
                                <li><a [routerLink]="['/vanban']">Văn Bản</a></li>
                                <li><a [routerLink]="['/gioi-thieu']">TKB</a></li>
                                <li><a [routerLink]="['/blog']">Diễn Đàn</a></li>
                                <li><a [routerLink]="['/gioi-thieu']">Tổ Chức</a></li>
                                
                            </ul>
                        </div>
                    </nav>
                    <form action="https://premiumlayers.net/demo/html/educampus/index.html" class="header_search hidden-xs">
                        <input type="text" placeholder="Search">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
