

  <section class="breadcrumb_area">
      <div class="breadcrumb_top">
          <div class="container">
              <div class="row">
                  <div class="breadcrumb_title section-padding">
                      <h2>DIỄN ĐÀN</h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="breadcrumb_bottom">
          <div class="container">
              <div class="row">
                  <div class="breadcrumb_nav">
                      <div class="col-sm-5">
                          <h2>Bài Viết</h2>
                      </div>
                      <div class="col-sm-7">
                          <ul>
                              <li><a href="index-2.html">Trang Chủ</a></li>
                              <li><a>Bài Viết</a></li>
                              <li><a [routerLink]="['/login']" >Đăng Nhập</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="single_post_area section-padding">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="single_blog_post_box">
                      <div class="blog_post_photo">
                          <img src="assets/img/{{item.hinhAnh}}" alt="">
                          <div class="blog_post_date_caption">
                              <span>{{item.thoiGian| date:'dd-MM-yyyy'}}</span>
                          </div>
                      </div>
                      <div class="blog_post_txt">
                          <div class="blog_post_heading">
                              <h2><a href="single-post.html">{{item.tieuDe}}</a></h2>
                              <p>{{item.maTK}}</p>
                          </div>
                          <div class="blog_post_content">
                              <p>{{item.noiDung}}</p>
                          </div>
                          <div class="blog_post_footer">
                              <ul>
                                  <li><i class="pe-7s-comment"></i>11 Comments</li>
                                  <li><i class="pe-7s-like"></i>13 Likes</li>
                                  <li><i class="pe-7s-look"></i>19 Viewers</li>
                                  <li class="blog_post_footer_right_item"><i class="pe-7s-ticket"></i>Trường THPT Khoái Châu</li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="single_post_comment_area">
                      <h2>Bình Luận</h2>
                      <ul class="coments">
                          <li>
                              <div class="col-md-2 fix_p">
                                  <div class="com_author_photo">
                                      <img src="assets/img/comment_photo_3.jpg" alt="">
                                  </div>
                              </div>
                              <div class="col-md-10">
                                  <div class="comment_details">
                                      <h3>David Anderson</h3>
                                      <h4>April 9, 2015</h4>
                                      <p>We finally got a piece of the pie. Then one day he was shootin' at some food and up through the ground came a bubblin' crude.</p>
                                      <a href="#" class="reply">Reply</a>
                                  </div>
                              </div>
                          </li>
                      </ul>
                      <div class="comment_form">
                        <h2>BÌNH LUẬN </h2>
                        <form action="">
                            <div class="row">
                                <div class="col-md-12 fix_p_r">
                                    <textarea name="" cols="30" rows="10" placeholder="Message"></textarea>
                                    <input type="submit" value="Gửi Bình luận">
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-7">
                  <aside>
                      <div class="right_sidebar">
                          <div class="all_right_widgets">
                              <div class="sing_right_widget">
                                  <div class="sing_right_widg_content">
                                      <form action="#">
                                          <input type="text" placeholder="Search">
                                          <input type="submit" value="">
                                      </form>
                                  </div>
                              </div>
                              <div class="sing_right_widget">
                                  <h2>Bài Viết</h2>
                                  <div class="sing_right_widg_content">
                                      <ul class="lat_news_right">
                                          <li>
                                              <img src="assets/img/right_lat_news_1.jpg" alt="">
                                              <div class="lat_news_right_con">
                                                  <h3><a href="single-post.html">Mister we could use a man like Herbert</a></h3>
                                                  <h4>April 19, 2015</h4>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </aside>
              </div>
              
          </div>
      </div>
  </section>



