
<!-- slideshow -->
<section class="key_to_success_area">
  <div class="container">
      <div class="row">
          <div class="key_to_success">
              <div class="col-md-7">
                  <div class="key2seccess_txt">
                      <h2>Giáo dục là chìa khóa cho sự thành công của bạn!!</h2>
                      <p>Học vấn do người siêng năng đạt được, tài sản do người tinh tế sở hữu, quyền lợi do người dũng cảm nắm giữ, thiên đường do người lương thiện xây dựng. </p>
                      <a href="#" class="rm_btn">Learn more</a>
                      <a href="#" class="rm_btn">apply now</a>
                  </div>
              </div>
              <div class="col-md-5 hidden-sm hidden-xs">
                  <!-- <div class="key2seccess_photo">
                      <img src="assets/img/header_bottom_photo.png" alt="">
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</section>

<section class="our_courses_area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section_heading">
                  <h1>TIN TỨC NỔI BẬT</h1>
                  <p>Cập nhật thông tin mới nhất!</p>
              </div>
          </div>
      </div>
      <div class="row all_our_courses">
        <ng-container *ngFor="let it of list_lop">
            <div class="col-md-4 col-sm-6">
                <div class="single_our_course">
                    <div class="sing_course_thumb">
                        <img src="assets/img/{{it.hinhAnh}}" alt="">
                    </div>
                    <div class="sing_course_txt">
                        <img src="assets/img/" alt="" class="course_icon">
                        <!-- <h2>Political Science</h2> -->
                        <h2>{{catText(it.tieuDe, 50)}}</h2>
                        <p>{{catText(it.noiDung, 140)}}</p>
                        <a href="#">Chi Tiet <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
          </ng-container>
      </div>
  </div>
</section>

<section class="search_courses_area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section_heading">
                  <h1>Search For Courses</h1>
                  <p>Fill the fields to seek for courses</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="course_search">
                  <form action="https://premiumlayers.net/demo/html/educampus/index.html">
                      <select name="">
                          <option value="">Category</option>
                          <option value="">Political Science</option>
                          <option value="">Literature</option>
                          <option value="">Advance Mathematics</option>
                          <option value="">Micro Biology</option>
                          <option value="">Global Economic</option>
                          <option value="">Computer Science</option>
                      </select>
                      <select name="">
                          <option value="">Duration</option>
                          <option value="">3 Yr</option>
                          <option value="">4 Yr</option>
                      </select>
                      <select name="">
                          <option value="">Level</option>
                          <option value="">Bachelor's Degree</option>
                          <option value="">Master’s Degree</option>
                      </select>
                      <select name="">
                          <option value="">Location</option>
                          <option value="">Texas</option>
                          <option value="">New York</option>
                      </select>
                      <input type="text" placeholder="Keywords">
                      <input type="submit" value="Search">
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="why_choose_us_area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="why_choose_us_photo">
                  <img src="assets/img/truong.jpg" alt="" style="height: 400px;width: 700px;">
              </div>
          </div>
          <div class="col-md-7">
              <div class="why_choose_us_txt">
                  <h1>Tại sao bạn nên chọn học tại THPT Khoái Châu ?</h1>
                  <p>Có thể nói, trường THPT Khoái Châu không ngừng nỗ lực để khẳng định vị trí của một ngôi trường có nhiều truyền thống tốt đẹp. Ở một diện mạo mới, sau khi sáp nhập, trường sẽ phát huy thế mạnh và hứa hẹn sự phát triển bền vững, đáng là địa chỉ tin cậy của nhân dân trong huyện Khoái Châu và cả tỉnh Hưng Yên.</p>
                  <p>Trường nằm ở địa thế đẹp, thuộc trung tâm của huyện Khoái Châu – miền quê anh hùng, có truyền thống hiếu học. </p>
                  <div class="row">
                      <div class="col-sm-4">
                          <div class="single_why_choose">
                              <div class="single_why_choose_icon">
                                  <img src="assets/img/icon_why_choose_1.png" alt="">
                              </div>
                              <h3>Có kinh nghiệm</h3>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="single_why_choose">
                              <div class="single_why_choose_icon">
                                  <img src="assets/img/icon_why_choose_2.png" alt="">
                              </div>
                              <h3>Chương trình dạy</h3>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="single_why_choose">
                              <div class="single_why_choose_icon">
                                  <img src="assets/img/icon_why_choose_3.png" alt="">
                              </div>
                              <h3>Đội ngũ giáo viên</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="latest_courses_area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section_heading">
                  <h1>Hoạt Động</h1>
                  <p>Tìm hiểu các hoạt động nổi bật</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="all_latest_course">
              <div class="single_latest_courses">
                  <div class="sing_lat_course_photo">
                      <img src="assets/img/latest_course_1.jpg" alt="">
                  </div>
                  <div class="sing_lat_course_txt">
                      <h3>LITERATURE</h3>
                      <h2>Social courses</h2>
                      <p>Here's the story of a lovely lady who was bringing up three very lovely girls.</p>
                      <ul>
                          <li><i class="fa fa-calendar"></i>Course duration : <span>3 Yr</span></li>
                          <li><i class="fa fa-graduation-cap"></i>Degree Level : <span>Master’s Degree</span></li>
                      </ul>
                  </div>
              </div>
              <div class="single_latest_courses">
                  <div class="sing_lat_course_photo">
                      <img src="assets/img/latest_course_2.jpg" alt="">
                  </div>
                  <div class="sing_lat_course_txt">
                      <h3>management</h3>
                      <h2>Banking courses</h2>
                      <p>Here's the story of a lovely lady who was bringing up three very lovely girls.</p>
                      <ul>
                          <li><i class="fa fa-calendar"></i>Course duration : <span>3 Yr</span></li>
                          <li><i class="fa fa-graduation-cap"></i>Degree Level : <span>Master’s Degree</span></li>
                      </ul>
                  </div>
              </div>
              <div class="single_latest_courses">
                  <div class="sing_lat_course_photo">
                      <img src="assets/img/latest_course_3.jpg" alt="">
                  </div>
                  <div class="sing_lat_course_txt">
                      <h3>art</h3>
                      <h2>Dance courses</h2>
                      <p>Here's the story of a lovely lady who was bringing up three very lovely girls.</p>
                      <ul>
                          <li><i class="fa fa-calendar"></i>Course duration : <span>3 Yr</span></li>
                          <li><i class="fa fa-graduation-cap"></i>Degree Level : <span>Master’s Degree</span></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="our_faculties_area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section_heading">
                  <h1>Đội Ngũ Giáo Viên</h1>
                  <p>Đội ngũ giáo viên giàu kinh nghiệm</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="all_our_faculties">
              <div class="col-md-3 col-sm-6">
                  <div class="single_our_facult">
                      <div class="sing_our_facult_photo">
                          <img src="assets/img/our_faculties_1.jpg" alt="">
                      </div>
                      <div class="sing_our_facult_txt">
                          <h3>John Vettori</h3>
                          <p>Founder & Principle</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="single_our_facult">
                      <div class="sing_our_facult_photo">
                          <img src="assets/img/our_faculties_2.jpg" alt="">
                      </div>
                      <div class="sing_our_facult_txt">
                          <h3>Lucy martin</h3>
                          <p>Vice Principle</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="single_our_facult">
                      <div class="sing_our_facult_photo">
                          <img src="assets/img/our_faculties_3.jpg" alt="">
                      </div>
                      <div class="sing_our_facult_txt">
                          <h3>Chris evans</h3>
                          <p>Mathematics Professor</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="single_our_facult">
                      <div class="sing_our_facult_photo">
                          <img src="assets/img/our_faculties_4.jpg" alt="">
                      </div>
                      <div class="sing_our_facult_txt">
                          <h3>Lucy martin</h3>
                          <p>Biology Professor</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="our_partners section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section_heading">
                  <h1>Nhà Tài Trợ và Đối Tác Với Trường</h1>
                  <!-- <p>Check our partners</p> -->
              </div>
          </div>
      </div>
      <div class="row">
          <div class="all_partners">
              <div class="single_partner">
                  <a href="#"><img src="assets/img/partners_logo_1.jpg" alt=""></a>
              </div>
              <div class="single_partner">
                  <a href="#"><img src="assets/img/partners_logo_2.jpg" alt=""></a>
              </div>
              <div class="single_partner">
                  <a href="#"><img src="assets/img/partners_logo_3.jpg" alt=""></a>
              </div>
              <div class="single_partner">
                  <a href="#"><img src="assets/img/partners_logo_4.jpg" alt=""></a>
              </div>
              <div class="single_partner">
                  <a href="#"><img src="assets/img/partners_logo_5.jpg" alt=""></a>
              </div>
              <div class="single_partner">
                  <a href="#"><img src="assets/img/partners_logo_6.jpg" alt=""></a>
              </div>
          </div>
      </div>
  </div>
</section>
